<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome User | SignUp</title>

    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <div class="main">
        <form method="POST" action="send">
            <label  id ="Label" for="email">Email :</label>
            <input id ="Email" type="email" name="email" placeholder="Your Email" required="true">
            <br><br>
            <input id ="Submit" type="submit" name="signup" class="form-submit" value="Submit">
        </form>
    </div>

</body>

</html>